<div class="item active">
  <div class="sub-actions">
    <%= link_to t('.create_new'), refinery.new_testimonials_admin_testimonial_path,
                 :class => "item" %>
    <% if !searching? && ::Refinery::Testimonials::Admin::TestimonialsController.sortable? && ::Refinery::Testimonials::Testimonial.any? %>
      <%= link_to t('.reorder', :what => "Testimonials"),
                   refinery.testimonials_admin_testimonials_path,
                   :id => "reorder_action",
                   :class => "reorder_icon item" %>

      <%= link_to t('.reorder_done', :what => "Testimonials"),
                   refinery.testimonials_admin_testimonials_path,
                   :id => "reorder_action_done",
                   :style => "display: none;",
                   :class => "reorder_icon item" %>
    <% end %>
  </div>
</div>